.FormWrapper {
  display: flex;
  flex-direction: column;

  .InputWrapper {
    position: relative;



    p {
      position: absolute;
      bottom: 10px;
      left: 5px;
      font-size: 11px;
    }
  }

  span {
    width: 100%;
    position: absolute;
    bottom: 7px;
    font-size: 12px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
}

