.LessonWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  background: var(--popupBackground);
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.LessonActive {
  z-index: 999;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition-delay: .2s;
}

.FormWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 620px;
  max-width: 620px;
  background: var(--white);
  border-radius: 10px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s linear, opacity 0.3s linear, height 0.3s linear;
  transition-delay: .4s;
  padding: 20px 29px 20px 29px;


  @media (max-width: 768px) {
    width: 95vw;
    min-width: 95vw;
    max-width: 95vw;
    padding: 15px;
  }

  span {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;

    p {
      margin-left: 5px;
      border-bottom: 2px solid var(--orange);
      border-bottom-style: dashed;
      cursor: pointer;

      &:hover {
        color: var(--orange)
      }
    }
  }

  .ButtonsWrapper {
    display: flex;
    gap: 20px
  }

}

.FormActive {
  opacity: 1;
  visibility: visible;
}

.FormHead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  img {
    margin-bottom: 15px;
  }

  p {
    font-size: 27px;
    font-weight: 700;
  }
}
