.InputWrapper {
  position: relative;
  .Active {
    border: 1px solid var(--error);
  }

  p {
    position: absolute;
    bottom: 10px;
    left: 5px;
    font-size: 11px;
  }
}

form {
  text-align: center;
  button {
    margin-bottom: 20px;
  }
}