:root {
  --primary: #0084FF;
  --secondary: #f50057;
  --red: #ec0000;
  --success: #00A699;
  --warning: #FFB818;
  --orange: #FFB818;
  --orange-hover: #c08b13;
  --info: #4169E1;
  --error: #F44335;
  --link: #0073F5;
  --body: #F5F6F7;
  --white: #fff;
  --text: #434343;
  --textSecondary: #64676B;
  --popupBackground: rgba(100, 103, 107, 0.16);
  --disabled: #CDD0D4;
  --transparent: transparent;
}