.Link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--orange);
  color: var(--white);
  min-height: 33px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  transition: background-color .2s linear;

  &:hover {
    background: var(--orange-hover);
  }
}